﻿@model Vidly.ViewModels.MovieCustomerViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Movies.Count > 0 ? "popular" : null;
}

<h2>Movies</h2>
<tr>
    <th>@Html.ActionLink("New Movie", "NewMovie", "Movies", new { @class = "btn btn-primary" })</th>
</tr>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Movies.Count == 0)
        {
            <tr>
                <th>No movies listed yet</th>
            </tr>
        }
        else
        {
            foreach (var movie in Model.Movies)
            {
                <tr>
                    <th>@Html.ActionLink(@movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</th>
                    <th>@movie.Genre.Name</th>
                </tr>
            }
        }
    </tbody>
</table>
