﻿@model Vidly.ViewModels.MovieCustomerViewModel
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2>Customers</h2>
<tr>
    <th>@Html.ActionLink("New Customer", "NewCustomer", "Customers", new { @class = "btn btn-primary" })</th>
</tr>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Customers.Count == 0)
        {
            <tr>
                <td>No customers subscribed yet</td>
            </tr>
        }
        else
        {
            foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@Html.ActionLink(@customer.Name, @"Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        }
    </tbody>
</table>


