﻿@model Vidly.Models.Customer
@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type:@Model.MembershipType.Name</li>
    @if (!String.IsNullOrWhiteSpace(@Model.BirthDate.ToString()))
    {
        <li>BirthDate:@Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>